@import "project-colors";

* {
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    margin: 0px;
}

html {
    height: 100%;
}

body {
    background: @bColor-bg;
    height: 100%;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.container-fluid {
    height: 100%;
}

#rednav {
    background: @rColor-entity;
    color: @rColor-hover-entity;
    border: none;
    border-bottom: 1px solid @rColor-hover-entity;
}

    #rednav li {
        font-size: 15px;
    }

    #rednav a {
        color: @rColor-hover-entity;
    }

        #rednav a:link {
            color: @rColor-hover-entity;
        }

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -30px;
}
.page-wrap:after {
  content: "";
  display: block;
}

#page-banner {
    height: 20%;
    background: url('../image/img-banner.png') no-repeat;
    background-position-y: -100px;
}

    #page-banner #override-banner {
        height: 30%;
        width: 58%;
        background: rgba(0, 0, 0, 0.5);
        font-size: 15px;
        color: @bColor-font;
        text-shadow: 0px 0px 5px white;
        vertical-align: middle;
        padding-left: 1%;
    }

.panel-warning {
    color: @yColor-font-container;
}

#home_expo #short_desc {
    height: 40px;
    overflow: hidden;
}

#list_artworks .list-group .list-group-item {
    border-style: none;
    border-radius: 0;
    height: 200px;
    margin: 0.1%;
    color: @yColor-entity;
    text-shadow: 0px 0px black;
}

#list_artworks .list-group .list_img {
    background-image: url('../image/img-generic.png');
}

#list_artworks .list-group .list_video {
    background-image: url('../image/video-generic.jpg');
}

#list_artworks .list-group .list_sound {
    background-image: url('../image/sound-generic.jpg');
    background-position: 30px 5px;
}

    #list_artworks .list-group .list-group-item .list-group-item-heading {
        color: @yColor-entity;
        text-shadow: 0px 0px 3px black;
    }

    #list_artworks .list-group .list-group-item p {
        display: none;
    }

        #list_artworks .list-group .list:hover {
            background-color: rgba(0, 0, 0, 0.7);
        }

        #list_artworks .list-group .list-group-item:hover p {
            display: inline-block;
            margin-left: 40%;
            margin-top: 8%;
            color: @yColor-entity;
            text-align: center;
            text-shadow: 0px 0px 3px black;
            font-size: 10px;
        }

        #list_artworks .list-group .list-group-item:hover .list-group-item-heading {
            color: @yColor-entity;
        }

        #list_artworks .list-group .list-group-item:hover .glyphicon {
            font-size: 800%;
        }

#zoom_artwork {
    color: @yColor-font-container;
}

#map_expo img {
    max-height: 432px;
    max-width: 940px;
}

.tags {
    float: right;
}

.container .page-wrap:after {
  height: 30px; 
}

#powered {
    font-size: 10px;
}

.lang-block{
    display: block;
}