{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_list %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "css/list_expo.css" %}" />
  {% if cl.formset %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
  {% endif %}
  {% if cl.formset or action_form %}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
  {% endif %}
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
  {% endif %}
{% endblock %}

{% block breadcrumbs %}{{ block.super }}{% endblock %}
{% block content %}
	<div class="results table-attr">
    <table id="result_list">
      <thead>
      <tr>
        <th>Titre</th>
        <th>Date début</th>
        <th>Date fin</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
		{% if next_expos_list %}
				{% for expo in next_expos_list %}
          <tr>
            <td>{{ expo.title }}</td>
            <td>{{ expo.start_date }}</td>
            <td>{{ expo.end_date }}</td>
            <td><a href="{% url 'manage-expo' expo.expo_id %}"><button class="table-btn">{% trans "Gérer" %}</button></a></td>
          </tr>
				{% endfor %}
		{% endif %}
    </tbody>
	</div>
{% endblock %}
