{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_list %}

{% block extrastyle %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'parler/admin/parler_admin.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'parler/admin/parler_admin_flat.css' %}" />
{% endblock %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
<script type="text/javascript" src="{% static 'js/tabs.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/urlify.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/prepopulate.min.js' %}"></script>

{% endblock %}



{% block content %}
{% if language_tabs %}<div class="parler-language-tabs{% if language_tabs.css_class %} {{ language_tabs.css_class }}{% endif %}">
	{% for url,name,code,status in language_tabs %}
    {% if status == 'current' %}
      <input type="hidden" class="language_button selected" name="{{ code }}" />
      <span class="current">{{ name }}{% if language_tabs.current_is_translated and language_tabs.allow_deletion %}<a class="deletelink" href="./delete-translation/{{ code }}/" title="{% trans 'Delete Translation' %}">&nbsp;</a>{% endif %}</span>
    {% else %}
      <span class="{{ status }}"><a href="{{ url }}">{{ name }}</a> {% if status == 'available' and language_tabs.allow_deletion %}<a class="deletelink" href="./delete-translation/{{ code }}/" title="{% trans 'Delete Translation' %}">&nbsp;</a>{% endif %}</span>
    {% endif %}
  {% endfor %}
</div>{% endif %}
<form action="" method="post">
	{% csrf_token %}
	{{ form }}
	<input type="submit" value="submit"></input>
</form>
{% endblock %}