{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_list %}
{% load staticfiles %}
{% load qr_tags %}
{% load visual_extras %}
{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "css/manage_expo.css" %}" />
  {{ media.css }}
{% endblock %}

{% block extrahead %}
<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
<script type="text/javascript" src="{% static "admin/js/core.js" %}"></script>
<script type="text/javascript" src="{% static "admin/js/vendor/jquery/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "admin/js/jquery.init.js" %}"></script>
<script type="text/javascript" src="{% static "admin/js/admin/RelatedObjectLookups.js" %}"></script>
<script type="text/javascript" src="{% static "admin/js/actions.min.js" %}"></script>
{% endblock %}

{% block content %}
<h2>Exposition : {{ exposition.title }}</h2> 
{# Afficher d'autres infos sur l'expo ? Genre les dates début, fin ? #}
<div class="map-size">
  <img src="{% static 'image/visualExp-map.png' %}" alt="" usemap="#Map" height="432" width="940"/>
</div>
{% if display_list %}
<div class="results table-attr">
  <table id="result_list">
    <thead>
      <tr>
        <th>Emplacement</th>
        <th>Titre</th>
        <th>Statut livraison</th>
        <th>QRCode</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for display in display_list %}
        <tr>
          <td>{{ display.position}}</td>
          <td>{{ display.artwork.title }}</td>
          <td>{% if display.has_arrived == True %}<img src="{% static 'admin/img/icon-yes.svg' %}" alt="Livrée">{% else %}<img src="{% static 'admin/img/icon-no.svg' %}" alt="Non Livrée">{% endif %}</td>
        {% url 'public-artwork' display.artwork.artwork_id as artwork_url %}
        {% with qr_url="http://"|addstr:request.get_host|addstr:artwork_url %}
          <td>{% qr_from_text qr_url "s" %}</td>
        {% endwith %}
          <td>
            <form action="delete_display/{{ display.pk }}/" method="post">
              {% csrf_token %}
              <button class="table-btn">{% trans "Supprimer" %}</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
<div class="form-size form-attr">
  <form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="{% trans 'Ajouter' %}"></input>
  </form>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
