{% extends "base.html" %}
{% load pipeline %}
{% load i18n %}
{% block title %}{% trans "Page non trouvée" %}{% endblock %}
{% block content %}
<div class="row">
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        Oups ! {% trans "Il semblerait que la page demandée n'existe pas." %}
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-1 col-lg-1 col-md-offset-5 col-lg-offset-5 custom_404">
    </div>
</div>
{% endblock %}