<!DOCTYPE html>
<html lang="en">
{% load pipeline %}
{% load i18n %}
{% load cache %}
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
 	{% stylesheet 'bootstrap' %}
	{% stylesheet 'default' %}
</head>
<body>
	<div class="container-fluid">
		<header class="row">
			<nav class="navbar navbar-default" id="navbar">
				<div class="container-fluid">
					
					<div class="navbar-header">
						<a class="navbar-brand" href="/">{% trans "Accueil" %}</a>
					</div>

					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							{% include "includes/nav-menu.html" %}																				
						</ul>
					</div><!-- navbar-collapse -->

				</div><!-- container-fluid -->
			</nav>
		</header>
		<div class="row">
			<div class="col-col-xs-12 col-md-12 col-lg-12">
			</div>
		</div>
		<section class="row">
			<div class="col-col-xs-12 col-md-12 col-lg-12">
				{% block content %}{% endblock %}
			</div>
		</section>
		<footer class="row" id="footer">
			<div class="col-col-xs-12 col-md-12 col-lg-12">
				<span id="powered">{% trans "Propulsé par Django & VisualExp" %}</span>
			</div>
		</footer>
	</div>

	{% javascript 'bootstrap' %}
	
</body>
</html>