<!DOCTYPE html>
<html lang="en">
{% load pipeline %}
{% load i18n %}
{% load cache %}
{% load visual_marktags %}
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% endblock %}</title>
 	{% stylesheet 'bootstrap' %}
	{% stylesheet 'default' %}
	{% block extracss %}{% endblock %}
</head>
<body>
	<nav class="navbar navbar-default" id="rednav">
		<div class="container">		
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">{% trans "Navigation" %}</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">{% trans "Accueil" %}</a>
			</div>

			<div class="collapse navbar-collapse" id="navbar">
				<ul class="nav navbar-nav">
					{% include "includes/nav-menu.html" %}																				
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<div class="btn-group" id="languages">
							<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								{% trans "Langue" %} <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
							</button>
							<div class="dropdown-menu">
								<form action="/i18n/setlang/" method="post" style="display: none" id="change_language_form">
									{% csrf_token %}
									<input type="hidden" value="" name="language" id="language" />
								</form>

								{% get_language_info_list for LANGUAGES as languages %}
								{% for language in languages %}
									<div class='lang-block'>
										<a href="#" lang_code="{{ language.code }}" class="change_language">{{ language.name_local|capfirst }} ({{ language.code }})</a>
									</div>
								{% endfor %}
							</div>
						</div>
					</li>
				</ul>
			</div><!-- navbar-collapse -->
		</div>
	</nav>
	<div class="container">
		{% cookie 'site_language' as lang_cookie_value %}
		{% if lang_cookie_value == ''%}
		<div class="modal fade" id="langModal" tabindex="-1" role="dialog" aria-labelledby="langModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="langModalLabel">{% trans "Langue :" %}</h4>
					</div>
					<div class="modal-body">
						<form action="/i18n/setlang/" method="post" style="display: none" id="change_language_form">
								    {% csrf_token %}
								    <input type="hidden" value="" name="language" id="language" />
								</form>

								{% get_language_info_list for LANGUAGES as languages %}
								{% for language in languages %}
								    <div class='lang-block'>
								    <a href="#" lang_code="{{ language.code }}" class="change_language">{{ language.name_local|capfirst }} ({{ language.code }})</a></div>
								{% endfor %}
					</div>
					<div class="modal-footer">
						<p>En poursuivant votre navigation sur ce site, vous acceptez l’utilisation de Cookies pour stocker votre choix de langue.</p>
					</div>
				</div>
			</div>
		</div>
		{% endif %}
		<div class="page-wrap">
		<div class="jumbotron" id="page-banner">
			<div id="override-banner">
				<h1>Association Grand Angle</h1>
			</div>
		</div>
		<section class="row">
			<div>
				{% block content %}{% endblock %}
			</div>
		</section>
		</div>
		<div class="row">
			<footer class="site-footer">
				<div>
					<span id="powered">{% trans "Propulsé par Django & VisualExp" %}</span>
				</div>
			</footer>
		</div>
	</div>

	{% javascript 'bootstrap' %}
	<script>
		$(window).load(function()
		{
		    $('#langModal').modal('show');
		});
	    $('.change_language').click(function(e){
	        e.preventDefault();
	        $('#language').val($(this).attr('lang_code'));
	        Cookies.set('site_language', $(this).attr('lang_code'));
	        $('#change_language_form').submit();

	    });
	</script>
	{% block extrascript %}{% endblock %}
</body>
</html>