{% extends "base.html" %}
{% load pipeline %}
{% load i18n %}
{% block title %}{% trans "Accueil" %}{% endblock %}
{% block content %}
<div class="row">
{% if redirect %}
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        Oups ! {% trans "Il semblerait que l'oeuvre ne soit pas exposée actuellement." %}
    </div>
{% else %}
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {% trans "Bienvenue sur" %} Grand Angle, {% trans "nous sommes le" %} {{ time }}
    </div>
{% endif %}
</div>
<div class="panel panel-warning" id="home_expo">
    <div class="panel-heading">{{ current_expo.title }} , {{ current_expo.start_date }} - {{ current_expo.end_date }}</div>
    <div class="panel-body">
        <div id="short_desc">
            {{ current_expo.description|safe }}
        </div>
        ...
    </div>
    <div class="panel-footer">
        <a href="/current_expo">
            <button type="button" class="btn btn-warning">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> {% trans 'Lire la suite' %}
            </button>
        </a>
    </div>
</div>
{% endblock %}