{% extends "base.html" %}
{% load pipeline %}
{% load i18n %}
{% block title %}{% trans "Accueil" %}{% endblock %}
{% block content %}
<div class="col-xs-12 col-md-12 col-lg-12 alert alert-info" role="alert">
    <p>
        {% trans "Bienvenue sur" %} Grand Angle, {% trans "toutes les informations utiles sont répertoriées sur notre site internet. N'hésitez pas à les consulter..." %}
    </p>
</div>
<div class="col-xs-12 col-md-12 col-lg-12" id="current_expo">
    <img src="" alt="" style="">
    <p><!-- @TODO résumé court de l'expo --></p>
    <button type="button" class="btn btn-default">{% trans "Lire la suite..." %}</button>
</div>
{% endblock %}