{% extends "base.html" %}
{% load pipeline %}
{% load i18n %}
{% block title %}{% trans "Accueil" %}{% endblock %}
{% block content %}
<div class="col-xs-12 col-md-12 col-lg-12 alert alert-info" role="alert">
    <p>
        {% trans "Bienvenue sur" %} Grand Angle, {% trans "nous sommes le" %} {{ time }}
    </p>
</div>
<div class="col-xs-12 col-md-12 col-lg-12" id="current_expo">
    <img src="" alt="" style="">
    <h1>{{ current_expo.title }}</h1>
    <div id="short_desc">
        {{ current_expo.description|safe }}
    </div>
    <br/>
    <a href="/current_expo"><button type="button" class="btn btn-default">{% trans "Lire la suite..." %}</button></a>
</div>
{% endblock %}