{% extends "base.html" %}
{% load pipeline %}
{% load i18n %}
{% load static from staticfiles %}
{% block extracss  %}
    {% stylesheet 'imageMap' %}
{% endblock %}
{% block title %}{% trans "Plan de l'exposition" %}{% endblock %}
{% block content %}
<div class="panel panel-warning" id="map_expo">
    <div class="panel-heading">{% trans "Plan de l'exposition" %}, {{ current_expo.title }}</div>
    <div class="panel-body">
        <img src="{% static 'image/visualExp-map.png' %}" alt="" usemap="#Map" height="432" width="940"/>
        <map name="Map" id="Map">
        {# @TODO Add ifs #}
            <area alt="" title="" href="#" shape="rect" coords="768,7,813,52" />
            <area alt="" title="" href="#" shape="rect" coords="613,92,657,136" />
            <area alt="" title="" href="#" shape="rect" coords="613,277,655,321" />
            <area alt="" title="" href="#" shape="rect" coords="760,383,805,429" />
            <area alt="" title="" href="#" shape="rect" coords="407,276,450,318" />
            <area alt="" title="" href="#" shape="rect" coords="320,386,366,430" />
            <area alt="" title="" href="#" shape="rect" coords="348,195,392,236" />
            <area alt="" title="" href="#" shape="rect" coords="110,385,153,426" />
            <area alt="" title="" href="#" shape="rect" coords="6,305,48,347" />
            <area alt="" title="" href="#" shape="rect" coords="8,167,48,209" />
            <area alt="" title="" href="#" shape="rect" coords="120,115,163,158" />
            <area alt="" title="" href="#" shape="rect" coords="284,35,324,78" />
            <area alt="" title="" href="#" shape="rect" coords="433,6,474,48" />
            <area alt="" title="" href="#" shape="rect" coords="395,133,437,175" />
            <area alt="" title="" href="#" shape="rect" coords="501,158,544,202" />
            <area alt="" title="" href="#" shape="rect" coords="556,94,595,135" />
        </map>
    </div>
</div>
{% endblock %}
{% block extrascript %}
    {% javascript 'rwdImageMaps' %}
    <script type="text/javascript">
        $(document).ready(function(e) {
            $('img[usemap]').rwdImageMaps();
        });
    </script>
{% endblock %}