{% extends "base.html" %}
{% load pipeline %}
{% load i18n %}
{% load static from staticfiles %}
{% block extracss  %}
    {% stylesheet 'imageMap' %}
{% endblock %}
{% block title %}{% trans "Plan de l'exposition" %}{% endblock %}
{% block content %}
<div class="panel panel-warning" id="map_expo">
    <div class="panel-heading">{% trans "Plan de l'exposition" %}, {{ current_expo.title }}</div>
    <div class="panel-body">
        <img src="{% static 'image/visualExp-map.png' %}" alt="" usemap="#Map" height="432" width="940"/>
        <map name="Map" id="Map">
            {% for display in display_expo %}
                {% if display.position == 1 %}<area alt="Emplacement 1" title="" href="/public/artwork/{{ display.artwork.artwork_id }}" shape="rect" coords="762,385,805,429" />{% endif %}
                {% if display.position == 2 %}<area alt="Emplacement 2" title="" href="/public/artwork/{{ display.artwork.artwork_id }}" shape="rect" coords="612,277,656,320" />{% endif %}
                {% if display.position == 3 %}<area alt="Emplacement 3" title="" href="/public/artwork/{{ display.artwork.artwork_id }}" shape="rect" coords="322,386,363,428" />{% endif %}
                {% if display.position == 4 %}<area alt="Emplacement 4" title="" href="/public/artwork/{{ display.artwork.artwork_id }}" shape="rect" coords="408,275,451,319" />{% endif %}
                {% if display.position == 5 %}<area alt="Emplacement 5" title="" href="/public/artwork/{{ display.artwork.artwork_id }}" shape="rect" coords="346,195,388,237" />{% endif %}
                {% if display.position == 6 %}<area alt="Emplacement 6" title="" href="/public/artwork/{{ display.artwork.artwork_id }}" shape="rect" coords="112,386,152,426" />{% endif %}
                {% if display.position == 7 %}<area alt="Emplacement 7" title="" href="/public/artwork/{{ display.artwork.artwork_id }}" shape="rect" coords="6,303,49,348" />{% endif %}
                {% if display.position == 8 %}<area alt="Emplacement 8" title="" href="/public/artwork/{{ display.artwork.artwork_id }}" shape="rect" coords="8,168,50,207" />{% endif %}
                {% if display.position == 9 %}<area alt="Emplacement 9" title="" href="/public/artwork/{{ display.artwork.artwork_id }}" shape="rect" coords="121,116,163,157" />{% endif %}
                {% if display.position == 10 %}<area alt="Emplacement 10" title="" href="/public/artwork/{{ display.artwork.artwork_id }}" shape="rect" coords="283,35,325,74" />{% endif %}
                {% if display.position == 11 %}<area alt="Emplacement 11" title="" href="/public/artwork/{{ display.artwork.artwork_id }}" shape="rect" coords="394,134,437,174" />{% endif %}
                {% if display.position == 12 %}<area alt="Emplacement 12" title="" href="/public/artwork/{{ display.artwork.artwork_id }}" shape="rect" coords="433,6,475,50" />{% endif %}
                {% if display.position == 13 %}<area alt="Emplacement 13" title="" href="/public/artwork/{{ display.artwork.artwork_id }}" shape="rect" coords="500,160,543,198" />{% endif %}
                {% if display.position == 14 %}<area alt="Emplacement 14" title="" href="/public/artwork/{{ display.artwork.artwork_id }}" shape="rect" coords="555,96,596,135" />{% endif %}
                {% if display.position == 15 %}<area alt="Emplacement 15" title="" href="/public/artwork/{{ display.artwork.artwork_id }}" shape="rect" coords="614,94,657,137" />{% endif %}
                {% if display.position == 16 %}<area alt="Emplacement 16" title="" href="/public/artwork/{{ display.artwork.artwork_id }}" shape="rect" coords="771,6,811,48" />{% endif %}
            {% endfor %}
        </map>
    </div>
    <div class="panel-footer">
        {% trans "Cliquez sur l'emplacement pour être redirigé sur l'oeuvre concernée par celui-ci." %}
    </div>
</div>
{% endblock %}
{% block extrascript %}
    {% javascript 'rwdImageMaps' %}
    <script type="text/javascript">
        $(document).ready(function(e) {
            $('img[usemap]').rwdImageMaps();
        });
    </script>
{% endblock %}