{% extends "base.html" %}
{% load pipeline %}
{% load i18n %}
{% block title %} {{ qr_artwork.title }} {% endblock %}
{% block content %}
<div class="panel panel-warning" id="zoom_artwork">
    <div class="panel-heading">{{ qr_artwork.title }} - {% trans "Consultations" %} <span class="badge">{{ qr_display.nb_views }}</span></div>
    <div class="panel-body">
        {% if qr_artwork.get_type == "Image" %}
            {% if qr_artwork.file %}
                <div class="col-xs-3 col-md-3 col-lg-3">
                    <img src="{{ MEDIA_URL }}{{ qr_artwork.file }}" height="320">
                </div>
            {% endif %}
        {% elif qr_artwork.get_type == "Vidéo" %}
            <div class="col-xs-12 col-md-7 col-lg-7">
                <div class="embed-responsive embed-responsive-4by3">
                    <video class="embed-responsive-item" controls><source src="{{ MEDIA_URL }}{{ qr_artwork.file }}"></video>
                </div>
            </div>
        {% elif qr_artwork.get_type == "Son" %}
            <div class="col-xs-12 col-md-5 col-lg-5">
                <audio class="embed-responsive-item" controls><source src="{{ MEDIA_URL }}{{ qr_artwork.file }}"></audio>
            </div>
        {% endif %}
        <div>
            <u>{% trans "Date de publication" %}</u> : {{ qr_artwork.publication_date }}, <u>{% trans "Artiste" %}</u> : <a href="/public/artist/{{ qr_artwork.artist.artist_id }}?back={{ qr_artwork.artwork_id }}">{{ qr_artwork.artist }}</a>
            <br/>
            {{ qr_artwork.description|safe }}
            <br/>
        </div>
    </div>
    <div class="panel-footer">
        <a href="/listing_art">
            <button type="button" class="btn btn-warning">
                <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> {% trans 'Voir les oeuvres' %}
            </button>
        </a>
        <a href="/current_expo">
            <button type="button" class="btn btn-warning">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> {% trans "Exposition" %}
            </button>
        </a>
        <span class="tags">{% trans "Mots-clés" %} : {% for tag in qr_artwork.tags.all %}<span class="label label-default">{{ tag.name }}</span> {% endfor %}</span>
    </div>
</div>
{% endblock %}